---
// https://docs.astro.build/en/guides/styling/#external-styles
import 'src/styles/global.scss'
import { siteInfo } from '@/data/siteInfo'
import Head from './Head.astro'

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang={siteInfo.lang}>
  <Head title={title} description={description} />
  <body>
    <slot />
  </body>
</html>
